<% if signed_in? %>
  <table class="front"summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

  <% else %>
<h1>Twitter-Tastic!</h1>
<p>
  <table>
    <tr>
      <td>
      <%= gravatar_for_email "bence.magyar@gmail.com", "bence", :size=> 100 %>
      </td>
      <td>
        Welcome to Twitter-Tastic:
        
        A little twitter clone developed by 
        <a href="http://linkedin.com/in/bencemagyar">Bence</a>
        in order to gain some Ruby/Rails chops.  I leveraged the wise sage of 
        <a href="http://railstutorial.org/">Michael Hartl</a> for this development effort.
      </td>
    </tr>
  </table>
    
</p>

<%= link_to "Sign up now!", signup_path, :class=> "signup_button round"  %>
<% end %>


